<!DOCTYPE html>
<html lang="en">
<header id="header-index">
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Заголовок страницы-->
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</header>
<nav class="navbar">
    <aside id="sidebar">
        <div class="navbar">
            <p>Все трансляции</p>
            <p>О проекте</p>
        </div>
    </aside>
</nav>
<body>
    <div class="bordered">
        <!--Нью-Йорк-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--Санкт-Петербург-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--Лондон-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p><b>Поиск видео:</b><br>
        <input type="text" size="30">
    </p>
</body>
<!--Футер страницы находится под основной частью (body)-->
<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>